GEMINI_API_KEY=
TARGET_LANGUAGE=bn
INPUT_DIR=input
OUTPUT_DIR=output
PROCESSING_DIR=processing
FAILED_DIR=failed
FFMPEG_BIN_DIR=C:\ffmpeg\bin
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=BZgkqPqms7Kj9ulSkVzn
ELEVENLABS_MODEL_ID=eleven_v3

